main {
    text-align: center;
    padding: 40px;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

main img.accessibility {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
}

.blur {
    filter: blur(1px);
    transition: fiter 0.2s ease;
}

.blur:hover {
    filter: blur(0px);
}