main {
    text-align: center;
    padding: 40px;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    display: block;
    text-align: center;
}

main h1 img {
    display: block;
    margin-block-end: 10px;
    margin-inline: auto;
}

section p,
section ul {
    max-inline-size: 800px;
    margin-inline: auto;
}

.center {
    text-align: center;
}

h2.projects {
    margin-block-start: 20px;
}

section>img {
    display: block;
    max-inline-size: 800px;
    inline-size: 100%;
    margin-inline: auto;
    text-align: center;
    mix-blend-mode: multiply;
}

img.small {
    max-inline-size: 300px;
}

.border {
    border-radius: 8px;
    border: 2px solid #e2e2e2;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    inline-size: 90%;
    margin-inline: auto;
}

.grid img {
    cursor: pointer;
    border-radius: 8px;
    border: 4px solid #e2e2e2;
}