main {
    text-align: center;
    padding: 40px;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    display: block;
    text-align: center;
}

img {
    display: block;
    text-align: center;
    margin-inline: auto;
}

h1 img {
    margin-block-end: 10px;
}

.tools {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    inline-size: 80%;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
}

:is(.tools, .discord) a {
    color: #3b5ec7;
}

.discord {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #e9ecef;
    padding: 15px 25px;
    padding-inline-start: 15px;
    border-radius: 10px;
    max-inline-size: 350px;
    inline-size: 100%;
}


.gengar {
    filter: brightness(1.5);
}