main {
    text-align: center;
    padding: 40px;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    display: block;
    text-align: center;
}

img {
    display: block;
    text-align: center;
    margin-inline: auto;
}

h1 img {
    margin-block-end: 10px;
}

.tools {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    inline-size: 80%;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
}

.tools div img {
    max-inline-size: 100%;
    object-fit: contain;
}

:is(.tools, .discord) a {
    color: #3b5ec7;
}

.discord {
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    background-color: #F4F1FA;
    padding: 15px 25px;
    padding-inline-start: 15px;
    border-radius: 10px;
    max-inline-size: 350px;
    inline-size: 100%;
}

.gengar {
    filter: brightness(1.1);
}

@media (prefers-reduced-motion) {
    .discord img {
        content: url(../images/Icons/Discord.svg);
    }
}

@media not (prefers-reduced-motion) {
    .discord::after {
        position: absolute;
        content: "";
        background-image: url(../images/Icons/Discord.svg);
        height: 30px;
        width: 30px;
        background-size: contain;
        inset-block-start: -10px;
        inset-inline-start: calc(100% - 25px);
    }
}


form {
    text-align: center;
    background-color: #e9ecef;
    inline-size: max-content;
    margin-inline: auto;
    padding: 25px;
    border-radius: 16px
}

input {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: normal;
    background-color: #e9ecef;
    border: 1px solid #0e1012;
    border-radius: 8px;
    text-align: center;
}