@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafffd;
    color: #0e1012;
}

.geologica {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0,
        "SHRP" 0;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

main {
    block-size: 100vh;
    inline-size: 100vw;
    margin-inline: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: clamp(32px, calc(3vw + 15px), 64px);
}

.braille,
.braille img {
    width: 100%;
    max-width: 550px;
    margin-inline: auto;
    mix-blend-mode: multiply;
    position: relative;
    transition: opacity 0.5s ease;
}

.braille::after {
    position: absolute;
    font-size: 36px;
    width: 150px;
    content: "Accessible solutions build for everyone";
    font-family: "Geologica", sans-serif;
    inset-inline-start: 40%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: 5;
    background-color: #fafffd;
    padding: 30px;
    transition: opacity 0.5s ease;
    opacity: 0;
}



@media screen and (pointer: fine) {
    .braille.clipper::after {
        clip-path: circle(63px at var(--xo) var(--yo));
        -webkit-clip-path: circle(63px at var(--xo) var(--yo));
        -moz-clip-path: circle(63px at var(--xo) var(--yo));
        -o-clip-path: circle(63px at var(--xo) var(--yo));
    }

    .braille:hover::after {
        opacity: 1;
    }
}

@media screen and (pointer: coarse) {
    .braille:hover::after {
        background-color: transparent;
        opacity: 1;
    }

    .braille::after {
        background-color: transparent;
    }

    .braille:hover img {
        opacity: 0.2;
    }
}

a {
    color: #4c72e6;
    text-decoration: none;
}

.brand {
    color: #4c72e6;
}

.logo {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    margin: 30px;
}

section {
    padding: 40px;
}

h2#main {
    font-size: 14px;
    font-weight: 300;
    color: #242a2f;
}

.cards {
    display: grid;
    margin-block-start: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: flex-start;
    gap: 20px;
}

.cards article {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: #dfe3e7;
}