section {
    text-align: start;
}

.projects {
    text-align: start;
}

img {
    display: block;
    text-align: center;
    margin-inline: auto;
}

section img:last-of-type {
    max-inline-size: 500px;
    inline-size: 100%;
    border-radius: 8px;
}

iframe,
.substitute img {
    margin-block-start: 20px;
    max-inline-size: 750px;
    block-size: 400px;
    inline-size: 100%;
    border-radius: 8px;
}

main {
    text-align: center;
    padding: 40px;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

main :is(h1, h2) {
    text-align: start;
}

.projects {
    margin-block-start: 40px;
    margin-block-end: 20px;
}

section a {
    margin-block-start: 60px;
}

.content {
    inline-size: 100%;
    max-inline-size: 700px;
    margin-inline: auto;
    padding: 50px;
    padding-block-start: 25px;
    background-color: #e9ecef;
    border-radius: 20px;
}

.content h3 {
    margin-block-start: 20px;
}

ul {
    margin-inline-start: 1rem;
}

div.content a {
    color: #0e1012;
    text-decoration: underline;
    text-underline-offset: 3px;
}

#video-container {
    inline-size: 100%;
}

.substitute img {
    position: relative;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 8px;
}

.modal {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    background-color: #fafffd;
    border-block-start: 1px solid #e9ecef;
}

.modal-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

@media screen and (width< 900px) {
    main :is(h2, h1) {
        text-align: center;
    }
}