main {
    text-align: center;
    padding: 40px;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    display: block;
    text-align: center;
}

h1 img {
    display: block;
    margin-inline: auto;
}